.container {
    position: relative;
    width: 100%;
}

.image1 {
    width: 100%;
    min-width: 700px;
    min-height: 400px;
}

/* left overlay styles */
.overlay {
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border: 1px solid #ccc;
    width: 80%;
    max-width: 300px;
    transform: translateX(-10%);
    box-sizing: border-box;
}

/* bottom overlay styles */
.overlay-bottom {
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    border: 1px solid #ccc;
    height: 100px;
    width: 400px;
    text-align: center;
    display: flex; 
    justify-content: space-between; 
    align-items: center; 
}

.overlay-bottom .image2 {
    width: 100px;
    height: 100px;
    margin-left: 10px;
}

.overlay-text{
    text-align: left;
}

